th {
    background-color: #000000;
    color: white;
    height: 15%;
    text-align:left;
    padding: 10px;
}

.titre {
    background-color: grey;
    border:5px solid black;
    color: white;
    height: 15%;
    text-align:left;
    padding: 10px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}


/*##################################*/
.card {
    display: flex;
    justify-content: center;
}

.background {
    width: 1100px;
    background: lightgray;
}

.inner-card {
    margin: 50px;
}

.header {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    margin-bottom: 30px;
}

.header img {
    width: 30%;
    margin-left: 100px;
}

.input-name {
    text-align: center;
    height: 67px; /* replace with your input's height */
    outline: none;
    font-size: 40px;
    width: 300px;
}

.input-origine {
    text-align: center;
    height: 67px; /* replace with your input's height */
    outline: none;
    font-size: 40px;
    width: 250px;
}

.input-level {
    text-align: center;
    height: 67px; /* replace with your input's height */
    outline: none;
    font-size: 40px;
    width: 150px;
}

/*##################################*/

.stats {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    margin-left: 45px;
}

.stats th {
    font-size: 13x;
}

.input-stat {
    text-align: center;
    width: 134px;
    outline: none;
    font-size: 40px;
    height: 40px;
}

.chance {
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    margin-left: 112px;
}

.input-chance {
    text-align: center;
    width: 134px;
    outline: none;
    font-size: 40px;
    height: 40px;
}

.input-rang {
    text-align: center;
    width: 100px;
    font-size: large;
}

/*##################################*/

.main-carac {
    display: flex;
    flex-direction: row;
    width: 100%
}

.input-atout {
    margin-left: 50px;
}

.defense {
    display: flex; flex-direction: row;
    margin-top: -5px;
    margin-bottom: 40px;
    justify-content: center;
}

.defense-title {
    text-align: center;
    width: 100px;
    font-size: large;
    background-color: #000000;
    color: white;
    height: 20px;
}

.defense-input {
    text-align: center;
    width: 50px;
    outline: none;
    font-size: 21px;
}

/* Equipment */

.main-equipment {
    display: flex;
    flex-direction: column;
}

.equipment-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.equipment-input {
    text-align: center;
    width: 60px;
    font-size: medium;
}
